<h4>Place a bet:</h4>

<p><%= session[:player_name] %> currently has $<%= session[:money].to_i %>. </p>

<form action='/bet' method='post'>
  Bet Amount: <input type='text' name='bet'/>
  <br/>
  <button type='submit' class='btn'> Place Bet </button>
</form>